.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #9f6868;
  width: 1915px;
  height: 2044.52px;
  position: relative;
  box-shadow: 0px 5.42px 5.42px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.cover-corp-new-office-1 {
  width: 379.08px;
  height: 268.06px;
  position: absolute;
  left: 83.94px;
  top: 660.67px;
}
.model a {
  color: #8f2424;
  text-align: center;
  font: 400 48.74px "Inter", sans-serif;
  position: absolute;
  left: 97.48px;
  top: 395.51px;
  width: 441.35px;
}
.Design {
  width: 379.08px;
  height: 268.06px;
  position: absolute;
  left: 83.94px;
  top: 660.67px;
}

.berry {
  width: 448.12px;
  height: 398.03px;
  position: absolute;
  left: 48.74px;
  top: 1149.41px;


}
.kissos {
  width:  330.34px;
  height: 383.14px;
  position: absolute;
  left: 620.06px;
  top: 1149.41px;
}

.bunny {
  width: 689.1px;
  height:   212.55px;
  position: absolute;
  left: 1072.24px;
  top: 1246.89px;
}

.hutao {
  width:  212.55px;
  height: 270.77px;
  position: absolute;
  left: 1080px;
  top: 1699.26px;

}

.street {
  width: 379.08px;
  height: 268.06px;
  position: absolute;
  left: 48.74px;
  top: 1607.01px;

}
.Design {
  width: 379.08px;
  height: 268.06px;
  position: absolute;
  left: 83.94px;
  top: 660.67px;
}